.container {
    display: flex;
}

.post {
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 30px;
}

.main-post {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: #AEE2FF ;
    padding: 30px;
    justify-content: center;
}

.main-post h1{
    text-align: center;
}


.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
    margin-bottom: 30px;
}

.comment{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #B799FF;
    border-radius: 10px;
    padding:20px;
}

.comment p {
    font-style: italic;
    text-align: end;
}

