/* Ho deciso di visualizzare solamente l'area contenente la lista delle chat spostando i controlli e l'utente dall'header laptop al footer esclusivamente mobile creato per riprendere lo stile utilizzato nelle applicazioni mobile. Nell'header adesso è presente il titolo dell'area dell'app in cui ci si trova (la lista chat).  */

/* Purtroppo ho visto troppo tardi che per le impostazioni degli elementi che rimangono visibili nel mobile non c'era bisogno di inserirle in entrambi i css. Per questioni di tempo manterrò inalterati i documenti.  */


.right-header, .left-header, .chat {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

:root{
    --input_color: #d5d8da;
    --whatsapp_color: #25d365a4;
    --header_footer_color: #F0F2F5;
}

html, body{
    background-color:#E5E3DE;
    height: 100%;
    width: 100%;
}

img[alt*=pic]{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

img[src*=avatar]:hover{
    border: 3px solid var(--whatsapp_color);
}

main {
    display: flex;
    height: 95%;
    width: 100%;
}

.mobile-header{
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 0px;
}

.mobile-header div {
    font-size: 20px;
    font-weight: bold;
}

.app {
    height: 100%;
    width: 100%;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon{
    padding: 5px;
}

.icon:hover{
    padding: 5px;
    border-radius: 20px;
    background-color: var(--whatsapp_color) ;
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts > header {
    display: flex;
    border-bottom: 1px solid var(--input_color);
    justify-content: center;
}

.contacts > header > div:first-child{
    background-color: var(--input_color);    
    border-radius: 30px;
    padding: 4px;
    padding-left: 13px;
    align-items: center;
    margin: 10px;
    width: 90%;
}

.contacts > ol {
    height: 100%;
}

input {
    background-color: var(--input_color);    
    border: none;
    width:80%;
    outline: none;
    border-radius: 30px;
}

.mobile-footer {
    background-color: var(--header_footer_color);
}

.mobile-footer > div {
    justify-content: space-between;
    padding: 5px 15px;
}

.contacts-list {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
}

.contacts-list:hover{
    background-color: var(--input_color);
}

.message-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-preview span:first-child{
    font-weight: bold;
}

.message-preview span:last-child{
    font-size: 10px;
}