header, main {
    display: flex;
}

header{
    height: 7%;
    width: 100%;
}

main {
    height: 93%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.right-header, .left-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header_footer_color);
    padding: 10px 20px;
    align-items: center;
}

.mobile-header{
    display: none;
}

.right-header, .contacts{
    flex-basis: 25%;
    border-right: 1px solid var(--input_color);
}

.left-header, .chat {
    flex-basis:75%;
}

.left-header > div:first-child {
    align-items: center;
}

.mobile-footer {
    display: none;
    background-color: var(--header_footer_color);
}

.mobile-footer > div {
    justify-content: space-between;
    padding: 5px 15px;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat > div{
    padding:20px;
    background-color:#e4d5bd;
    height: 100%;
}

.chat p {
    padding: 1em;
	text-align: left;
}

.user-message {
    display: flex;
    justify-content: end;
}

.others-message {
    display: flex;
    justify-content: flex-start;
}

.msg-recieved, .msg-sent {
    border-radius: 20px;
    height: fit-content;
    box-shadow: 1px 2px rgba(143, 143, 143, 0.404);
    flex-basis: 50%;
}

.msg-recieved{
    background-color: #f2fff2;
}

.msg-sent {
    background-color: #b6e2c7;
}

.time {
    text-align: end;
    padding: 0px 1em 1em;
}

.chat > footer {
    display: flex;
    align-items: center;
    background-color: var(--header_footer_color);
    padding: 15px;
    padding-left: 30px;    
}

.chat > footer input {
    padding: 8px;
    width: 80%;
}