*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    margin:0px;
    padding: 0px;
    font-size: 14px;
}
img[src*="logo"] {
    height: 35px;
}

/* HEADER: barra superiore d'accesso, ricerca e login area */
header {
    display: flex;
    padding: 0.5rem 1rem 0.3rem;
    flex-wrap: nowrap;
    border-bottom: 1px solid #d3d3d33a;
}
header > div {
    display:flex;
    align-items: center;  
    flex-basis: 20%;
}

/* barra di ricerca */
/* Flex basis in questo div con :nth-child() e' più specifico e sovrascrive il 30 imposto precedentemente a tutti e che rimane agli altri due */
header > div:nth-child(2){
    flex-basis: 40%;
    background-color: #d3d3d33a;
    border: 1px solid #d3d3d33a;
    border-radius: 40px;  
    gap: 1rem;
}
header > div:nth-child(2):hover {
    background-color: #fff;
    border: 1px solid #106be2;
}
img[src*="search"] {
    height: 15px;
    margin: 10px;
}

/* area login a destra dell'header */
.login-area {
    justify-content: flex-end;
    flex-basis: 40%;
    gap: 2rem;
}
.login-area p, .signup-banner p:last-child{
    border-radius: 40px;
    margin: 0px;
    padding: 8px;
    cursor:default;
}
.login-area p:first-child {
    background-color: #d3d3d33a;
}
.login-area p:first-child:hover, .right-macro-area, .grey-hover:hover{
    background-color: #d3d3d3c4;
}
/* con la virgola SI perchè non guarda ai parenti. Ok risparmiare una riga di codice ma è corretto  dal punto di vista della comprensione del codice stesso?  */
.login-area p:nth-child(2){
    background-color: #ff4500;
}
.login-area p:nth-child(2):hover{
    background-color: #ff5f24;
}
img[src*="avatar"] {
    height: 37px;
    /* margin: 10px; */
    border: 1px solid white;
    padding: 5px 20px 5px 5px;
}
img[src*="avatar"]:hover{
    border: 1px solid #d3d3d33a;
    padding: 5px 20px 5px 5px;
}

/* MAIN PRIMI DUE DIV FEED/ARGOMENTI E TENDENZA/POST/COMUNITA'*/
main{
    display: flex;
    flex-wrap: nowrap;
}
.left-macro-area, .right-macro-area{
    display: flex;
    flex-direction: column;
}

/* parte sinistra */
.left-macro-area {
    flex-basis: 20%;  
} 
.left-macro-area li, .popular li {
    display: block;
    padding: 1px 20px;
    list-style-type: none;
}
.left-macro-area ul, .popular ul{
    padding: 0; 
}
.left-macro-area h5, .subtitle{
    display: block;
    text-transform: uppercase;
    margin: 23px 0px 10px;
    font-weight: bold;
}
.signup-banner {
    align-items: flex-end;
    padding: 40px 15px 20px;
    border-top: 1px solid #919191;
    margin: 100% 10px;

}
.signup-banner p:last-child{
    background-color: #106be2;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}
.signup-banner p:last-child:hover{
    background-color: #106be2d7;
}
/* parte destra */
.right-macro-area {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

.right-macro-area img{
    width: 160px;
    height: 130px;
    border-radius: 20px;
}
.community {
    display: flex;
    flex-direction: row;
}
.posts {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.right-post {
    border:1px solid #919191;
    padding: 0.5rem 2rem 2rem;
    background-color: #fff;
    margin-top: 1rem;
}
img[alt*="meme1"]{
    width: 400px;
    height:auto;
}

.popular{
    flex-basis: 40%;
    margin-left: 30px;
}
